<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker</title>
</head>
<body>
<h3> Docker Containers</h3>
<p> A container is a standard unit of software that packages up code and all its dependencies so the application runs quickly and reliably from one computing environment to another. A Docker container image is a lightweight, standalone, executable package of software that includes everything needed to run an application: code, runtime, system tools, system libraries and settings.

Container images become containers at runtime and in the case of Docker containers - images become containers when they run on Docker Engine.</p>

<h3>Docker Images</h3>
<p> A Docker image is a read-only template that contains a set of instructions for creating a container that can run on the Docker platform. It provides a convenient way to package up applications and preconfigured server environments, which you can use for your own private use or share publicly with other Docker users.</p>

<h3> Docker Repository</h3>
<a href="https://github.com/gagan-rohith/is601" >Click here to go to the project repository</a>

<h3> Docker Commands </h3>
<p> Docker Search,
Docker Pull,
Docker Images,
Docker Run,
Docker ps,
Docker rename.</p>
</body>
</html>