<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GITHUB</title>
</head>
<body>
<h3>Git Branch</h3>
<p> The git branch command lets you create, list, rename, and delete branches. It doesn’t let you switch between branches or put a forked history back together again.</p>
<h3> Git Merge </h3>
<p> The merge command is used to integrate changes from another branch.
    The target of this integration (i.e. the branch that receives changes) is always the currently checked out HEAD branch.
    While Git can perform most integrations automatically, some changes will result in conflicts that have to be solved by the user. </p>
<h3> Git Commit</h3>
<p> The commit command is used to save your changes to the local repository.

Note that you have to explicitly tell Git which changes you want to include in a commit before running the "git commit" command. This means that a file won't be automatically included in the next commit just because it was changed. Instead, you need to use the "git add" command to mark the desired changes for inclusion.</p>
 <h3>Git Tags </h3>
<p>Git has the ability to tag specific points in a repository’s history as being important.
This command lists the tags in alphabetical order, the order in which they are displayed has no real importance.</p>
<h3> Git Repository</h3>
<p>A Git repository is the .git/ folder inside a project. This repository tracks all changes made to files in your project, building a history over time. Meaning, if you delete the .git/ folder, then you delete your project’s history.</p>
</body>
</html>