<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python</title>
</head>
<body>
<h3>Pytest</h3>
<p> The pytest framework makes it easy to write small tests, yet scales to support complex functional testing for applications and libraries.</p>
<p>Simple pages involving bootstrapping were created. Carousel style of images was used.Testing was done using pytest. </p>
<h3> Outline of Directory</h3>
<p> docker-compose.yml is a file that contains the configuration to develop locally.</p>
<p>Dockerfile is used to run the flask development server instead of running the server that is used for hosting on Heroku.</p>
<p>pytest.ini is a pytest file used to initialize program settings.</p>
</body>
</html>